.file-list{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
}
.file{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  align-items: center;
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid grey;
  span{
    flex-grow: 1;
    text-align: left;
    margin-inline: 1rem;
  }

}
.top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;

  .buttons{
    display: flex;
    flex-direction: column;
  }
  button{
    width: 48;
    height: 48;
  }
  input{
    height: 2rem;
  }
}